.Drop {
    width: 80%;
    height: 180px;
    background-color: #cccccc;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    position: relative;
    font-size: 36px;
}

.DivDashed {
    border: dashed grey 4px;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.DivDropHere {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    color: grey;
    font-size: 36px;
}

