.AllStudentQr {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.StudentQr {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc
}

/*@media print {*/

/*    header, nav, footer, header > div {*/
/*        display: none;*/
/*    }*/

/*    body, div {*/
/*        position: static;*/
/*    }*/

/*    .AllStudentQr {*/
/*        text-align: center;*/
/*        margin: 0;*/
/*        overflow: visible;*/

/*    }*/

/*    .StudentQr {*/
/*        display: inline-block;*/
/*        margin: 0;*/
/*        !*column-width: 17em;*!*/
/*        !*column-gap: 3em;*!*/
/*        overflow: visible;*/
/*        position: static;*/
/*        break-inside: avoid;*/
/*        break-before: auto;*/
/*    }*/

/*}*/

/*@page {*/
/*    size: letter;*/
/*    margin: 0;*/
/*    orphans: 4;*/
/*    widows: 2;*/
/*}*/
