.Pass {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ddd;
}

.Active {
    background-color: #4CAF50;
}

.Actions {
    background-color: #dddddd;
}

@media (min-width: 500px){
    .Passes {
        margin-left: 10%;
        margin-right: 10%;
    }
}
